{% extends 'layout.html' %}

{% block content %}
<form id="EntryForm" class="form-horizontal" method="post" role="form">
    {% csrf_token %}
    {% for fieldset in fieldsets %}
    <fieldset>
        <legend>{{fieldset.name}}</legend>
        {% for element in fieldset.elements %}
        <div class="form-group {{field.errors|yesno:"has-error,"}}">
            <label class="col-sm-3 control-label" for="id_{{field.id}}">
                {{element.field.name}}
            </label>
            <div class="col-sm-3">
                <input id="id_{{element.field.id}}" name="field_{{element.field.id}}" class="form-control timepicker"  
                       type="text" value="{{element.record.value}}"/>
            </div>
            <div class="control-label" style="text-align: left;">
                {% for error in element.errors %}
                    {{error}}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}
