@font-face {
    font-family: "DroidSans";
    src: url('fonts/DroidSans.ttf');
}
@font-face {
    font-family: "DroidSans";
    src: url('fonts/DroidSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url('fonts/DroidSansMono.ttf');
}

body {
    font-family: DroidSans, sans-serif;
    font-size: 10pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

#content {
    margin-top: 80px;
    margin-bottom: 60px;
}

.navbar-header > ul.nav.navbar-nav {
    margin: 0;
    display: inline-block;
}
.navbar-header > ul.nav.navbar-nav > li {
    display: inline-block;
}
.navbar-header > ul.nav.navbar-nav > li > a {
    padding: 15px;
}

@media (max-width: 768px) {
    .nav.navbar-nav.pull-right {
        float: none !important;
    }
}